<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body>
    
        <section>
          
                            <h2 >Login </h2>
                            <form action="/logincheck" method="POST" >


                                    <label>Mail</label>
                                    <input type="email" class="form-control" name="username" />
                                <label>Clave</label>
                                <input type="password" class="form-control" name="password" />
                                

                                
                                <br/><button   type="submit" class="btn btn-primary">Ingresar</button>
                            </form>
        </section>



   </body>

</html>
