<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 
        <section>
           
                            <h2 class="display-4">Registrate</h2>
                            <form action="/registrar" method="POST" enctype="multipart/form-data">


                                <!-- <p th:if="${error != null}" th:text="${error}" style="color:red;"></p> -->

                                <label style="color: #000">NombreASAS</label>
                                <input type="text" style="color: #000" class="form-control" name="nombre" />
                                <label style="color: #000">Apellido</label>
                                <input style="color: #000" type="text" class="form-control" name="apellido" />
                                    <label style="color: #000" >Mail</label>
                                    <input style="color: #000" type="email" class="form-control" name="mail" />
                                <label style="color: #000" >Clave</label>
                                <input type="password" style="color: #000"  class="form-control" name="clave1" />
                                <label style="color: #000" >Verificar Clave</label>
                                <input type="password" class="form-control" name="clave2" />
                                <label style="color: #000">Foto</label>
                                <input style="color: #000" type="file" class="form-control" name="archivo" />


                                
                                <br/><button   type="submit" class="btn btn-primary">Registrarme</button>
                            </form>
                        
        </section>


    </body>

</html>
